body {
  margin: 0%;
}

.container {
  background-color: #36404a;
  font-size: 24px;
  padding: 1px 12px;
}

.container .papa {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0%;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .papa .Logo {
  text-decoration: none;
}

.container .papa .Logo a {
  color: whitesmoke;
  text-decoration: none;
}

.container .papa .Logo li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}

.container .papa .Menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .papa .Menu li .pra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .papa .Menu li .pra .inputField {
  padding-right: 10px;
}

.container .papa .Menu li .pra .inputField input {
  border-radius: 17px;
  height: 20px;
  position: relative;
  background-color: #4B525C;
  font-weight: bolder;
}

.container .papa .Menu li .pra .inputField img {
  position: absolute;
  right: 70px;
  padding-right: 70px;
  padding-top: 4px;
  color: antiquewhite;
}

.container .papa .Menu li .pra .noti img {
  padding-right: 20px;
  padding-top: 4px;
  height: 24px;
  color: #36404a;
}

.container .papa .Menu li .pra .prof img {
  padding-right: 40px;
  height: 30px;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0.8px 0px 0px rgba(26, 25, 25, 0.2);
          box-shadow: 0px 0.8px 0px 0px rgba(26, 25, 25, 0.2);
}

.container2 .content {
  font-size: 12px;
  -ms-flex-preferred-size: 9%;
      flex-basis: 9%;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.container2 .content img {
  padding-left: 9px;
  height: 20px;
}

.container2 .active {
  color: yellow;
}

.pgnavigator {
  padding: 10px 27px;
  background-color: rgba(6, 115, 129, 0.1);
}

.pgnavigator .Container3 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pgnavigator .Container3 .settingbtn {
  background-color: green;
  border-radius: 10px;
  padding: 3px 10px;
}

.pgnavigator .Container3 .settingbtn a {
  color: whitesmoke;
  text-decoration: none;
}

.pgnavigator .Table1 {
  background-color: white;
  text-decoration: none;
}

.pgnavigator .Table1 .container4 {
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pgnavigator .Table1 .container4 .btnn {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 27px;
}

.table_dark {
  background-color: #95a5a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 0.03em;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 35px;
  margin: 12px 20px;
}

.table_content {
  padding: 25px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 12px 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.cont_1 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
/*# sourceMappingURL=style.css.map */